{{yield}}

<p class="menu-text">color your mixtape</p>
  <input type="button" class="reset" value="reset color" {{action "background" "#FFFFFF"}}><br>
  <div class="dark">
    <input type="button" class="btn licorice" {{action "background" "#191102"}}>
    <input type="button" class="btn jet" {{action "background" "#2C363F"}}>
    <input type="button" class="btn metallic" {{action "background" "#8A817C"}}>
  </div>
  <div class="blues">
    <input type="button" class="btn cerulean" {{action "background" "#064789"}}>
    <input type="button" class="btn bright-blue" {{action "background" "#2176FF"}}>
    <input type="button" class="btn blue" {{action "background" "#007EA7"}}>
  </div>
  <div class="greens">
    <input type="button" class="btn forest-green" {{action "background" "#034C3C"}}>
    <input type="button" class="btn green" {{action "background" "#6D9F71"}}>
    <input type="button" class="btn aquamarine" {{action "background" "#70A9A1"}}>
  </div>
  <div class="reds">
    <input type="button" class="btn scarlet" {{action "background" "#650D1B"}}>
    <input type="button" class="btn crimson" {{action "background" "#960200"}}>
    <input type="button" class="btn brick" {{action "background" "#C33C54"}}>
  </div>
  <div class="purples">
    <input type="button" class="btn red-purple" {{action "background" "#330036"}}>
    <input type="button" class="btn purple" {{action "background" "#593C8F"}}>
    <input type="button" class="btn lavender" {{action "background" "#A390E4"}}>
  </div>
  <div class="pinks">
    <input type="button" class="btn fuscia" {{action "background" "#7A306C"}}>
    <input type="button" class="btn orchid" {{action "background" "#CC76A1"}}>
    <input type="button" class="btn mauve" {{action "background" "#B98EA7"}}>
  </div>
  <div class="light">
    <input type="button" class="btn carrot" {{action "background" "#F26430"}}>
    <input type="button" class="btn corn" {{action "background" "#FFD046"}}>
    <input type="button" class="btn grey" {{action "background" "#D0CCD0"}}>
  </div>
