{{yield}}

<input type="button" class="reset" value="reset color" {{action "fontColor" "#000000"}}><br>

<div class="color-options">
  <input type="button" class="btn brown" {{action "fontColor" "#523A34"}}>
  <input type="button" class="btn corn" {{action "fontColor" "#FFD046"}}>
</div>
<div class="color-options">
  <input type="button" class="btn cerulean" {{action "fontColor" "#064789"}}>
  <input type="button" class="btn neon-blue" {{action "fontColor" "#0CAADC"}}>
</div>
<div class="color-options">
  <input type="button" class="btn forest-green" {{action "fontColor" "#034C3C"}}>
  <input type="button" class="btn lime" {{action "fontColor" "#C2E812"}}>
</div>
<div class="color-options">
  <input type="button" class="btn scarlet" {{action "fontColor" "#650D1B"}}>
  <input type="button" class="btn crimson" {{action "fontColor" "#960200"}}>
</div>
<div class="color-options">
  <input type="button" class="btn red-purple" {{action "fontColor" "#330036"}}>
  <input type="button" class="btn purple" {{action "fontColor" "#593C8F"}}>
</div>
<div class="color-options">
  <input type="button" class="btn fuscia" {{action "fontColor" "#7A306C"}}>
  <input type="button" class="btn dk-pink" {{action "fontColor" "#EA526F"}}>
</div>
<div class="color-options">
  <input type="button" class="btn grey" {{action "fontColor" "#D0CCD0"}}>
  <input type="button" class="btn slate" {{action "fontColor" "#6F7D8C"}}>
</div>
<div class="color-options">
  <input type="button" class="btn cream" {{action "fontColor" "#F4F0BB"}}>
  <input type="button" class="btn snow" {{action "fontColor" "#FFFAFB"}}>
</div>
