{{yield}}



 <ul class="menu">

{{!--       <li title="home"><a href="#" class="menu-button home">menu</a></li>
 --}}      
      <li title="background-color"><a href="#" class="background-color" onclick={{action "toggleOpen"}}>paint background</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
      <li title="about"><a href="#" class="active about">about</a></li>
      <li title="archive"><a href="#" class="archive">archive</a></li>
      <li title="contact"><a href="#" class="contact">contact</a></li>
    </ul>
    
    <div class="menu-bar {{if isOpen 'open'}}">
      <p class="menu-text">color your mixtape</p>
      <input type="button" class="reset" value="reset color" {{action "toggleClass" "#FFFFFF"}}><br>

      <input type="button" class="btn licorice" {{action "toggleClass" "#191102"}}>
      <input type="button" class="btn jet" {{action "toggleClass" "#2C363F"}}>
      <input type="button" class="btn metallic" {{action "toggleClass" "#8A817C"}}>
      <input type="button" class="btn cerulean" {{action "toggleClass" "#064789"}}>
      <input type="button" class="btn blue" {{action "toggleClass" "#007EA7"}}>
      <input type="button" class="btn bright-blue" {{action "toggleClass" "#2176FF"}}>
      <input type="button" class="btn teal" {{action "toggleClass" "#568EA3"}}>
      <input type="button" class="btn fuscia" {{action "toggleClass" "#7A306C"}}>
      <input type="button" class="btn pink" {{action "toggleClass" "#EDAFB8"}}>
      <input type="button" class="btn mauve" {{action "toggleClass" "#B98EA7"}}>
      <input type="button" class="btn orchid" {{action "toggleClass" "#CC76A1"}}>
      <input type="button" class="btn red-purple" {{action "toggleClass" "#330036"}}>
      <input type="button" class="btn violet" {{action "toggleClass" "#302F4D"}}>
      <input type="button" class="btn purple" {{action "toggleClass" "#593C8F"}}>
      <input type="button" class="btn lavender" {{action "toggleClass" "#A390E4"}}>
      <input type="button" class="btn scarlet" {{action "toggleClass" "#650D1B"}}>
      <input type="button" class="btn crimson" {{action "toggleClass" "#960200"}}>
      <input type="button" class="btn brick" {{action "toggleClass" "#C33C54"}}>
      <input type="button" class="btn carrot" {{action "toggleClass" "#F26430"}}>
      <input type="button" class="btn forest-green" {{action "toggleClass" "#034C3C"}}>
      <input type="button" class="btn green" {{action "toggleClass" "#6D9F71"}}>
      <input type="button" class="btn aquamarine" {{action "toggleClass" "#70A9A1"}}>
      <input type="button" class="btn sea-gray" {{action "toggleClass" "#808F85"}}>
      <input type="button" class="btn lime" {{action "toggleClass" "#C1DF1F"}}>
      <input type="button" class="btn corn" {{action "toggleClass" "#FFD046"}}>
      <input type="button" class="btn wheat" {{action "toggleClass" "#EEE1B3"}}>
      <input type="button" class="btn grey" {{action "toggleClass" "#D0CCD0"}}>

    </div>