{{yield}}

  {{!-- <ul class="menu">     
    <li title="background-color"><a href="#" class="background-color" onclick={{action "togglePaint"}}>paint background</a></li>
    <li title="font"><a href="#" class="font" onclick={{action "toggleText"}}>change the font</a></li>
    <li title="font-color"><a href="#" class="font-color" onclick={{action "toggleTextColor"}}>change the font color</a></li>
    <li title="message"><a href="#" class="message">write a message</a></li>
    <li title="images"><a href="#" class="images" {{action "selectImages"}}>upload images</a></li>
    <li title="stickers"><a href="#" class="stickers">add stickers</a></li>
  </ul>
    
  <div class="color-bar {{if paintIsOpen 'open'}}">
    {{mixtape.background-color playlist=playlist}}
  </div>

  <div class="text-bar {{if textIsOpen 'open'}}">
    {{mixtape.font-selector playlist=playlist}} 
  </div>

  <div class="text-color-bar {{if textColorIsOpen 'open'}}">
    {{mixtape.font-color playlist=playlist}} 
  </div>

  {{#if imgIsOpen}}
  <div class="img-bar">
    {{ember-filepicker pickerOptions=pickerOptions storeOptions=storeOptions multiple=true onSelection='fileSelected' resize=width:100 resize=height:80 onClose='onClose' onError='onError'}}
  </div>
  {{/if}}
 --}}