{{yield}}



 <ul class="menu">

{{!--       <li title="home"><a href="#" class="menu-button home">menu</a></li>
 --}}      
      <li title="background-color"><a href="#" class="background-color" onclick={{action "toggleOpen"}}>paint background</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
      <li title="about"><a href="#" class="active about">about</a></li>
      <li title="archive"><a href="#" class="archive">archive</a></li>
      <li title="contact"><a href="#" class="contact">contact</a></li>
    </ul>
    
    <ul class="menu-bar {{if isOpen 'open'}}">
      <input type="button" class="reset" value="reset color" {{action "toggleClass" "white"}}><br>
      <input type="button" class="btn red" value="red" {{action "toggleClass" "red"}}>
{{!--     <input type="color" id="color">
 --}}
{{!--         <li><a href="#" class="menu-button">Menu</a></li>
 --}}    </ul>