{{yield}}



 <ul class="menu">

{{!--       <li title="home"><a href="#" class="menu-button home">menu</a></li>
 --}}      
      <li title="background-color"><a href="#" class="background-color" onclick={{action "toggleOpen"}}>paint background</a></li>
      <li title="pencil"><a href="#" class="pencil">pencil</a></li>
      <li title="about"><a href="#" class="active about">about</a></li>
      <li title="archive"><a href="#" class="archive">archive</a></li>
      <li title="contact"><a href="#" class="contact">contact</a></li>
    </ul>
    
    <ul class="menu-bar {{if isOpen 'open'}}">
      <p class="menu-text">color your mixtape</p>
      <li><input type="button" class="reset" value="reset color" {{action "toggleClass" "white"}}></li><br>
      <input type="button" class="btn dark" {{action "toggleClass" "#463F3A"}}>
      <input type="button" class="btn metallic" {{action "toggleClass" "#8A817C"}}>
      <input type="button" class="btn sea-gray" {{action "toggleClass" "#808F85"}}>
      <input type="button" class="btn cerulean" {{action "toggleClass" "#064789"}}>
      <input type="button" class="btn blue" {{action "toggleClass" "#568EA3"}}>
      <input type="button" class="btn bright-blue" {{action "toggleClass" "#2176FF"}}>
    </ul>