<div class="container">
  <h2>Search for Tracks, Artists, and Albums on Spotify</h2>
 {{input type="text" value=query placeholder="search for tracks, artists, or albums" class="search"}}
</div>


{{#each model as |track|}}
  <p>{{track.name}}
  {{track.artists.0.name}}
  <iframe src="https://embed.spotify.com/?uri={{track.uri}}" width="80" height="80" frameborder="0" allowtransparency="true"></iframe>
  <button {{action "addToPlaylist" track.uri}}>add to mixtape</button>
  </p>
  {{/each}}
