<div class="top-row">
  <h2>Search for Tracks, Artists, and Albums on Spotify</h2>
  {{input type="text" value=query placeholder="search for tracks, artists, or albums" class="search"}}
  <button class="finished-adding" {{action "finished"}}>done adding tracks</button>
</div>
<div class="container">
  {{#each model as |track|}}
    <div class="tracks-container">
      <p> 
        <div class="player"><iframe src="https://embed.spotify.com/?uri={{track.uri}}" width="80" height="80" frameborder="0" allowtransparency="true"></iframe></div>
        <div class="track-info">
          {{track.name}}<br>
          {{track.artists.0.name}}<br>
          <button {{action "addToPlaylist" track.uri track.id}}>add to mixtape</button>
        </div>
      </p>
    </div>
  {{/each}}

  <div class="added-tracks">
    {{#each playlist as |track|}}
      <div class="added-img">
        <img src={{track.album.images.0.url}} class="track-img">
      </div>  
      <div class="added-info">
        <p>{{track.name}}
        {{track.artists.0.name}}</p>
        <button class="remove-track" {{action "removeFromPlaylist" track.uri track.id}}>remove track</button>
      </div>
    {{/each}}
  </div>
</div>
