<button class="you-profile" {{action "userProfile"}}>your profile</button>
<ul class="menu">     
  <li title="background-color"><a href="#" class="background-color" onclick={{action "togglePaint"}}>paint background</a></li>
  <li title="font"><a href="#" class="font" onclick={{action "toggleText"}}>change the font</a></li>
  <li title="font-color"><a href="#" class="font-color" onclick={{action "toggleTextColor"}}>change the font color</a></li>
    <li title="message"><a href="#popup1" class="message" onclick={{action "toggleMessage"}}>write a message</a></li>
  <li title="images"><a href="#" class="images" {{action "toggleImages"}}>upload images</a></li>
</ul>

<div class="mixtape-container" style={{background-color backgroundColor}}>
  <div class="title-container">
    <h2 class="mixtape-title mixtape-text" style={{fontStyle fontFamily}}><span style={{fontColor fontColor}}>{{title}}</span></h2>
  </div>
  <div class="playlist-player">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:{{userId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true" class="spotify-player"></iframe>
  </div>
  <div>
    {{#if mixtapePhotos}}
    {{#un-slider slides=mixtapePhotos nav=false arrows=false animation='fade' autoplay=true speed=800 delay=4000 as |slide|}}
      <div class="box photos"><img src={{slide._data.url}} class="user-images"></div>
    {{/un-slider}}
    {{else}}
    <div id="generic-photo"><img src="/assets/images/mixtape-sketch.png"></div>
    {{/if}}
  </div>

    
  <div class="color-bar {{if paintIsOpen 'open'}}">
    {{mixtape.background-color playlist=playlistId}}
  </div>

  <div class="text-bar {{if textIsOpen 'open'}}">
    {{mixtape.font-selector playlist=playlistId}} 
  </div>

  <div class="text-color-bar {{if textColorIsOpen 'open'}}">
    {{mixtape.font-color playlist=playlistId}} 
  </div>

  <div class="image-bar {{if imageIsOpen 'open'}}">
    <button class="reset" {{action 'selectImages'}}>upload your photos</button>
    <button class="reset delete-photos"{{action 'openPhotos'}}>delete photos</button>
  </div>

  <div class="box">
    <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Leave a special message!</h2>
        <a class="close" href="#" onclick={{action "closeMessage"}}>&times;</a>
        <div class="content">
          {{input type="textarea" value=message placeholder="leave some <3" maxlength="200"}}<br>
          <button onclick={{action "saveMessage" message}}>save message</button>
        </div>
      </div>
    </div>
  </div>

{{!--     <div class="box">
    <div id="popup2" class="overlay">
      <div class="popup">
        <h2>remove photos</h2>
        <a class="close" href="#" onclick={{action "closePhotos"}}>&times;</a>
        {{#each mixtapePhotos as |photo|}}
        <div class="content">
          <img src={{photo}} class="review-photos"><br>
          <button onclick={{action "deletePhoto" photo}}>remove photo</button>
        </div>
        {{/each}}
      </div>
    </div>
  </div> --}}

  <div id="personal-message" class="mixtape-text" style={{fontStyle fontFamily}}><span style={{fontColor fontColor}}>{{message}}</span></div>

  <div class="publish" style={{fontColor fontColor}}>Ready to share your mixtape?<button {{action "share" userId playlistId}}>publish it!</button></div>
</div>


