

<div class="mixtape-container" style={{background-color backgroundColor}}>
<div class="share-it" style={{fontStyle fontFamily}}><span style={{fontColor fontColor}}>Share it!</span>
    {{#fb-share-button url="http://www.localhost:4200/mixtape/4Mt2Q0h9cqUdvi8Onqj5Cd" title="Someone shared a mixtape with you!" text="Some description..." image='https://pbs.twimg.com/media/BcvmxibIYAAH8a3.jpg'}}{{/fb-share-button}}
    {{#twitter-share-button url="http://www.localhost:4200/mixtape/4Mt2Q0h9cqUdvi8Onqj5Cd" title="Someone shared a mixtape with you!" text="Some description..." image="https://pbs.twimg.com/media/BcvmxibIYAAH8a3.jpg" hashtags="mixtape"}}{{/twitter-share-button}}
  </div><br>

  <div class="title-container">
    <h2 class="mixtape-title mixtape-text" style={{fontStyle fontFamily}}><span style={{fontColor fontColor}}>{{title}}</span></h2>
  </div>

  <div class="playlist-player">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:{{userId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true" class="spotify-player"></iframe>
  </div>

  <div>
    {{#if mixtapePhotos}}
      {{#un-slider slides=mixtapePhotos nav=false arrows=false animation='fade' autoplay=true speed=800 delay=4000 as |slide|}}
      <div class="box photos"><img src={{slide}} class="user-images"></div>
    {{/un-slider}}
    {{else}}
      <div id="generic-photo"><img src="/assets/images/mixtape-sketch.png"></div>
    {{/if}}
  </div>

  <div id="personal-message" class="mixtape-text" style={{fontStyle fontFamily}}><span style={{fontColor fontColor}}>{{message}}</span></div>
</div>
