<h2>The art of creating a mixtape starts with the title.</h2>
<p>Think about who the mixtape is for, when and where they'll listen to it, and the overall theme you want. Inside jokes are good, too.</p>

<div class="container">
  <h2>Give your mixtape a title:</h2>
 {{input type="text" value=title placeholder="title"}}
 <button {{action "createMixtape" title}}>Create</button>
</div>

{{!-- 
<div class="container">
  <h2>Search for Tracks on Spotify</h2>
  <p>After searching, click on the track to play a 30 second preview.</p>
 {{input type="text" value=query placeholder="search for tracks, artists, or albums" class="search"}}
 <button {{action "search" query}}>Search</button>
</div>

{{#each things as |track|}}
<p>are we even here
  {{track.name}}</p>
{{/each}} --}}