<a href={{profileURL}} target="_blank"><img src={{userImage}} class="spotify-image"></a>
<h1>Hi, {{name}}!</h1>

<button {{action 'newMixtape'}}>create a new mixtape</button>
<div class="cards">

 {{#each mixtapes as |mixtape|}}
    {{#if mixtape.published}}
      <div class="card">
      {{#link-to 'mixtape.shared' userId mixtape.id}}
        <div class="card-header">
        {{mixtape.title}}
        </div>
        <div class="card-image">
          <img src="/assets/images/mixtape-sketch.png" alt="">
        </div>
      {{/link-to}}
        <button {{action "deleteMixtape" mixtape mixtape.id}}>delete mixtape</button>
      </div>
    {{else}}
      <div class="card">
        {{#link-to 'mixtape.edit' userId mixtape.id}}
          <div class="card-header">
            {{mixtape.title}}
          </div>
            <div class="card-image">
              <img src="/assets/images/mixtape-sketch.png" alt="">
          </div>
        {{/link-to}}
        <button {{action "deleteMixtape" mixtape mixtape.id}}>delete mixtape</button>
      </div>
    {{/if}}
  {{/each}}
</div>