<a href={{profileURL}} target="_blank"><img src={{userImage}} class="spotify-image"></a>
<h1>Hi, {{name}}!</h1>

<button {{action 'newMixtape'}}>create a new mixtape</button>
<div class="cards">

 {{#each mixtapes as |mixtape|}}
    {{#if mixtape._internalModel._data.published}}
      <div class="card">
        <div class="card-header">
        {{mixtape._internalModel._data.title}}
        </div>
        <div class="card-image">
          <img src="/assets/images/mixtape-sketch.png" alt="">
        </div>
      </div>
    {{else}}
      <div class="card">
        <div class="card-header">
          {{mixtape._internalModel._data.title}}
        </div>
        <div class="card-image">
          {{#link-to 'mixtape.edit' userId mixtape.id}}<img src="/assets/images/mixtape-sketch.png" alt="">{{/link-to}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>